
#dropdown-container {
    min-height: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    pointer-events: auto;
    background-color: white;
    font-family: "Google Sans";
    font-size: 24px;
    overflow: hidden;
    box-sizing: border-box;
    color: rgba(125, 125, 125, 0.8);
    position: relative;
}

#dropdown-select {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dropdown-select.active {
    border-bottom: 1px solid black;
}

#dropdown-select:hover {
    cursor: pointer;
    background-color: rgba(125, 125, 125, 0.2);
}

#dropdown-options {
    all: unset;
    height: fit-content;
    list-style: none;
    overflow: auto;
    z-index: 999;
}

#dropdown-options::-webkit-scrollbar {
    display: none;
}

#dropdown-options li {
    width: 100%;
    height: fit-content;
    text-align: center;
    margin-bottom: 2px;
    pointer-events: auto;
    padding: 5px 0 5px 0;
    font-weight: normal;
    transition: color, font-weight 0.15s linear;
}

#dropdown-options li:first-child {
    margin-top: 2px;
}

#dropdown-options li:hover {
    cursor: pointer;
    font-weight: bold;
}