@import url('https://fonts.googleapis.com/css?family=Google+Sans');

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#newSolution {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Google Sans";
  font-size: xx-large;
}

#UpperPage {
  height: 80%;
  width: 100%;
  display: flex;
}


#mapLoading {
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nodeMenu {
  width: 400px;
}

#headOfNodes {
  height: 7%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Google Sans";
  font-weight: bold;
  font-size: 24px;
}

#divOfNodes {
  height: 93%;
  width: 100%;
  background-color: #F1F3F4;
}

#listOfNodes {
  height: 100%;
  width: 100%;
  list-style: none;
  overflow: hidden;
  overflow-y: auto;
  text-align: center;
  scrollbar-gutter: stable;
  color: rgba(125, 125, 125, 0);
  transition: color 0.4s ease;
}

#listOfNodes:empty {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Google Sans";
  font-size: 20px;
  color: rgba(125, 125, 125, 1);
  transition: color 0.2s ease;
}

#listOfNodes:empty:before {
  content: "Click map to add nodes";
}


#listOfNodes li {
  width: 350px;
  height: 100px;
  left: 25px;
  padding-left: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#listOfNodes li:first-child {
  padding-top: 4px
}

.NodeInList {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  background-color: white;
  border-radius: 15px;
  box-sizing: border-box;
  display: block;
  padding: 4px;
  position: relative;
  color: black;
}

.RemovalButton {
  width: 150px;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 6px;
  border: 1px outset black;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Google Sans";
  color: black;
  background-color: white;
  transition-property: background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.RemovalButton:hover {
  background-color: #4285f4;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.NameDiv {
  height: 40%;
  width: 65%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 4px;
  margin-left: 8px;
  text-align: left;
  font-family: "Roboto";
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.LatLngDiv {
  width: 30%;
  height: 40%;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 6px;
  margin-right: 14px;
  text-align: right;
  font-family: "Google Sans";
  font-size: 16px;
}

.RenameButtonDiv {
  width: 150px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 6px;
}


.ButtonTextDiv {
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 10px;
  left: 20.015px;
  font-family: "Google Sans";
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.TextButtonDiv {
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 100%;
  left: 4px;
  font-family: "Google Sans";
  font-size: 12px;
  color: black;
  pointer-events: none;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

.TextBox {
  width: 100%;
  height: 100%;
  appearance: none;
  outline: none;
  box-sizing: border-box;
  border: 1px outset black;
  border-radius: 10px;
  padding: 4px;
  font-size: 16px;
  text-align: left;
  font-family: "Google Sans";
  background-color: white;
  color: black;
  transition: background-color 0.4s ease;
}


.TextBox:hover {
  background-color: #34a853;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.TextBox:focus {
  pointer-events: none;
}

#LowerPage {
  width: 100%;
  height: 50px;
}

.LowerMenuButton {
  width: 0;
  height: 100%;
  box-sizing: border-box;
  border: 1px outset black;
  border-radius: 10px;
  margin: 4px;
  font-family: "Google Sans";
  color: black;
  background-color: white;
}

#backButton {
  width: 200px;
  float: left;
  font-size: 26px;
  transition: background-color 0.4s ease;
}

#backButton:hover {
  background-color: #4285f4;
  cursor: pointer;
}

#startNodeDiv {
  min-width: 200px;
  width: fit-content;
  max-width: 550px;
  float: left;
  display: flex;
  align-items: center;
  padding-left: 8px;
  font-size: 22px;
  cursor: default;
}

.react-select__container {
  min-width: 190px;
  width: fit-content;
  max-width: 400px;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-size: 18px;
  color: black;
}

#calculateButton {
  width: 200px;
  float: right;
  font-size: 26px;
  transition: background-color 0.4s ease;
}

#calculateButton:hover {
  cursor: pointer;
  background-color: red;
}


#SolutionOptions {
  width: 100%;
  height: 300px;
  float: left;
  margin-top: 10px;
}



#cover {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  animation: coverOnAnimation;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes coverOnAnimation {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    background-color: rgba(210, 210, 210, 0.5);
  }
}


#canvasDiv {
  width: 850px;
  height: 450px;
  padding: 10px;
  box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  animation: menuOnAnimation;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.44,1.45,.53,.97);
  background-color: rgba(241, 241, 241, 1);
}

@keyframes menuOnAnimation {
  0% {
    translate: 0px calc(100% + 200px);
  }

  100% {
    translate: 0px 0px;
  }
}


#cancelButton {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 6px;
  border: 0px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  font-family: "Arial Unicode MS";
  font-size: 45px;
  font-weight: bold;
  color: rgba(45, 45, 45, 0.6);
  transition: color 0.15s ease;
}

#cancelButton:hover {
  cursor: pointer;
  color: rgba(45, 45, 45, 1);
  transition: color 0.15s ease;
}

#networkCanvas {
  width: 850px;
  height: 425px;
  position: absolute;
  bottom: 0px;
}

#networkTitle {
  width: 850px;
  height: 425px;
  position: absolute;
  text-align: center;
  font-family: "Google Sans";
  font-size: 24px;
  font-weight: bold;
  pointer-events: none;
}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #F0F0F0;
}

::-webkit-scrollbar-thumb {
  background: #CECECE;
} 

::-webkit-scrollbar-thumb:hover {
  background: #A7A7A7;
}

::-webkit-scrollbar-thumb:active {
  background: #606060;
}

