@import url('https://fonts.googleapis.com/css?family=Google+Sans');


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scrollbar-gutter: stable;
}

#root {
  width: 100%;
  height: 100%;
}

#newSol-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#newSol-upper-container {
  height: 80%;
  width: 100%;
  display: flex;
}


#newSol-lower-container {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  display: grid;
  grid-template-columns: 200px auto 200px 200px 200px;
  grid-template-rows: 50px;
  grid-gap: 5px;
}

.newSol-lower-button {
  box-sizing: border-box;
  border: 1px outset black;
  border-radius: 10px;
  font-family: "Google Sans";
  color: black;
  background-color: white;
}

#newSol-back {
  grid-row: 1;
  grid-column: 1;
  font-size: 26px;
  transition: background-color 0.4s ease;
  margin-left: 10px;
}

#newSol-back:hover {
  background-color: #4285f4;
  cursor: pointer;
}

#newSol-startNode {
  grid-row: 1;
  grid-column: 3;
}

#newSol-status {
  grid-row: 1;
  grid-column: 4;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  user-select: none;
}

#newSol-calculate {
  grid-row: 1;
  grid-column: 5;
  font-size: 26px;
  transition: background-color 0.4s ease;
}

#newSol-calculate:hover {
  cursor: pointer;
  background-color: #EA4335;
}

#newSol-subpage-container {
  width: 100%;
  height: 300px;
  position: relative;
  margin-top: 10px;
}

#newSol-options {
  width: 30%;
  height: 100%;
  position: absolute;
}

#newSol-options-header {
  width: 100%;
  height: 50px;
  position: relative;
  margin-left: 8px;
  font-family: "Google Sans";
  font-size: xx-large;
  font-weight: bold;
}

.newSol-travel-options {
  float: left;
}

.newSol-traffic-options {
  float: right;
  transition: background-color 0.2s ease;
}

.newSol-traffic-options-disabled {
  background-color: rgba(125, 125, 125, 0.4);
  pointer-events: none;
}

.newSol-traffic-options-disabled button {
  background-color: transparent;
}

#newSol-options-grid {
  display: grid;
  width: calc(100% - 20px);
  height: calc(100% - 70px);
  grid-template-columns: 50% 50%;
  column-gap: 10px;
  margin: 10px;
}

.newSol-options-grid-item {
  display: inline-block;
  position: relative;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  padding-top: 8px;
  overflow: hidden;
  font-size: 24px;
  font-family: "Google Sans";
}

.newSol-options-grid-item ul {
  height: calc(100% - 30px);
  list-style: none;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.newSol-options-grid-item ul li {
  display: flex;
  align-items: center;
  text-align: left;
}

.newSol-option-button {
  width: 25px;
  height: 25px;
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 10px;
  background-color: white;
  transition: background-color 0.2s ease;
}

.newSol-option-button:hover {
  background-color: red;
  cursor: pointer;
}

.newSol-option-button-active {
  background-color: #34a853;
}

#newSol-info {
  width: 10%;
  height: 100%;
  float: right;
  background-color: yellow;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #F0F0F0;
}

::-webkit-scrollbar-thumb {
  background: #CECECE;
} 

::-webkit-scrollbar-thumb:hover {
  background: #A7A7A7;
}

::-webkit-scrollbar-thumb:active {
  background: #606060;
}

