@import url('https://fonts.googleapis.com/css?family=Google+Sans');

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#prevSolution {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Google Sans";
  background-color: #F1F3F4;
}

.activeHeader {
  font-size: 28px;
}

.footerButton {
  border: 1px outset black;
  border-radius: 10px;
  margin: 4px;
  box-sizing: border-box;
  font-family: "Google Sans";
  color: black;
  background-color: white;
  font-size: 26px;
  transition: background-color 0.4s ease;
}

#leftPage {
  height: 100%;
  width: 40%;
  float: left;
  background-color: #F1F3F4;
}

#solutionHeader {
  height: 50px;
  width: 100%;
  font-size: 24px;
}

#solutionMenu {
  height: calc(100% - 108px);
  width: 100%;
  float: left;
}

#solutionList {
  height: 100%;
  width: 100%;
  list-style: none;
  overflow: hidden;
  overflow-y: auto;
  text-align: center;
  scrollbar-gutter: stable;
  color: rgba(125, 125, 125, 0);
  transition: color 0.4s ease;
}

#solutionList:empty {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Google Sans";
  font-size: 20px;
  color: rgba(125, 125, 125, 1);
}

#solutionList:empty:after {
  content: "No solutions saved";
}

#solutionList li {
  width: 100%;
  height: 50px;
  background-color: red;
  color: black;
}

#solutionFooter {
  height: 50px;
  width: 100%;
  float: left;
  display: flex;
}

#backButton {
  width: 200px;
  height: 100%;
}

#backButton:hover {
  background-color: #4285f4;
  cursor: pointer;
}

#clearButton {
  height: 100%;
  min-width: 200px;
  flex-grow: 100;
}

#clearButton:hover {
  cursor: pointer;
  background-color: #EA4335;
}

#rightPage {
  height: 100%;
  width: 60%;
  float: right;
}

#mapHeader {
  height: 50px;
  width: 100%;
  font-size: 22px;
  background-color: #F1F3F4;
}

#mapContainer {
  height: calc(100% - 50px);
  width: 100%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

#map {
  margin-bottom: 10px;
}
